<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .row {
            padding-top: 2ex;
        }

        .one h1 {
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 5px;
            padding-top: 1em;
        }


        .one h1:after {
            width: 100px;
            height: 1px;
            display: block;
            content: "";
            position: relative;
            margin-top: 25px;
            left: 50%;
            margin-left: -50px;
            background-color: #b80000;
        }
        .four h1 {
            padding-top: 1em;
            text-align: center;
            padding-bottom: 0.7em;
        }
        .four h1 span {
            font-weight: 300;
            word-spacing: 3px;
            line-height: 2em;
            padding-bottom: 0.35em;
            color: rgba(0, 0, 0, 0.5);
        }


    </style>
</head>
<body>

<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
                 viewBox="0 0 24 24">
            </svg>
            <strong>Milk Boy Company</strong>
        </a>
    </div>
</div>

<div class="one">
    <h1>Руководители</h1>
</div>
<div class="container marketing">


    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image height="100%" width="100%" href="images/director.png"></image>
            </svg>
            <h2 class="fw-normal">Генеральный директор</h2>
            <p>Филатов Михаил. 20 лет. Энергичный, рассудительный.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image height="100%" width="100%" href="images/creator.png"></image>
            </svg>
            <h2 class="fw-normal">Основатель</h2>
            <p>Антонянц Артем. 40 лет. Смелый, целеустремленный.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image height="100%" width="100%" href="images/codirector.png"></image>
            </svg>
            <h2 class="fw-normal">Заместитель директора</h2>
            <p>Лямкин Дмитрий. 52 года. Трудолюбивый.</p>
        </div><!-- /.col-lg-4 -->
    </div>

    <div class="four">
        <h1>Преимущества
        </h1>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Натурально<span class="text-body-secondary"></span>
            </h2>
            <p class="lead"> Мы делаем наши товары только из натуральных продуктов, чтобы вы смогли распробовать
                вкус в полной мере.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false">
                <image height="100%" width="100%" href="images/natural.png"></image>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Разнообразие продуктов
            </h2>
            <p class="lead">Широкий ассортимент продукции — от обычного молока до йогуртов и кефиров — привлекает
                разных
                потребителей и удовлетворяет различные потребности. Это также позволяет компании лучше
                адаптироваться к
                изменениям рынка и потребительским предпочтениям.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false">
                <image height="100%" width="100%" href="images/products.png"></image>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Устойчивость и экологические инициативы
            </h2>
            <p class="lead">Внедрение экологически чистых технологий и устойчивых практик, таких как переработка
                отходов, снижение углеродного следа и использование возобновляемых источников энергии, помогает
                компании
                улучшить свой имидж и привлечь экологически сознательных потребителей.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false">
                <image height="100%" width="100%" href="images/tech.png"></image>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
</body>
</html>